<!DOCTYPE html>
<html lang="en" xmlns:th="https://wwww.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="~{fragments/template :: head}">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../static/css/main.css" />
<title>Shipments</title>
</head>
<body>		
	<div th:replace="~{fragments/dialogs :: assign_shipment_dialog}"></div>
	<div th:replace="~{fragments/dialogs :: deliver_shipment_dialog}"></div>
	
	<section class="container">
		<header class="jumbotron" th:replace="~{fragments/template :: header}">
			Shipments Header </header>

		<nav class="navbar navbar-default"
			th:replace="~{fragments/template :: navbar}">Navbar</nav>
			
		<section class="card my-1"
			th:replace="~{fragments/template :: heading}">Heading</section>
			

		<table
			class="table table-striped table-bordered table-condensed table-responsive">
			<thead>
				<tr>
					<th th:text="#{shipments.table.head.num}">#</th>
					<th th:text="#{shipments.table.head.tracking.num}">Tracking #</th>
					<th th:text="#{shipments.table.head.reception}">Reception</th>
					<th th:text="#{shipments.table.head.receptionist}">Receptionist</th>
					<th th:if="${#strings.equals(shipmentStatus, 'IN_PROCESS')}"
						th:text="#{shipments.table.head.priority}">Priority</th>
					<th th:if="${#strings.equals(shipmentStatus, 'IN_PROCESS')}"
						th:text="#{shipments.table.head.courier}">Courier</th>
					<th th:text="#{shipments.table.head.category}">Category</th>
					<th th:text="#{shipments.table.head.note}">Note</th>
					<th th:if="${#strings.equals(shipmentStatus, 'PENDING')}"
						sec:authorize="hasRole('LOGISTICS_MANAGER')"
						th:text="#{shipments.table.head.assign}">Assign</th>
					<th th:if="${#strings.equals(shipmentStatus, 'IN_PROCESS')}"
						sec:authorize="hasRole('COURIER')"
						th:text="#{shipments.table.head.deliver}">Deliver</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="shipment, iStat  : ${shipments}">
					<td th:text="${iStat.index+1}">1</td>
					<td th:text="${shipment.trackingNumber}">00000000001</td>
					<td th:text="${#dates.format(shipment.receptionDate, 'dd/MM/yyyy HH:mm:ss')}">23/02/2024 08:25:48</td>
					<td th:text="${shipment.receptionist}">Àlex Macia Pérez</td>
					<td th:if="${#strings.equals(shipmentStatus, 'IN_PROCESS')}" 
						th:text="${shipment.priority}">5</td>
					<td th:if="${#strings.equals(shipmentStatus, 'IN_PROCESS')}"
						th:text="${shipment.courier}">Paco Calderon Pérez</td>
					<td th:text="#{'shipment.category.'+${shipment.category}}">Company</td>
					<td th:text="${shipment.note}">Hola que tal</td>
					<td th:if="${#strings.equals(shipmentStatus, 'PENDING')}"
						sec:authorize="hasRole('LOGISTICS_MANAGER')" class="text-center">
						<button sec:authorize="hasRole('LOGISTICS_MANAGER')" type="button"
							class="btn btn-warning btn-sm" data-bs-toggle="modal"
							data-bs-target="#assignShipmentDialog"
							th:data-bs-shipmentId="${shipment.id}">
							<i class="bi bi-person-bounding-box"></i>
						</button>
					</td>
					<td th:if="${#strings.equals(shipmentStatus, 'IN_PROCESS')}" 
						sec:authorize="hasRole('COURIER')" class="text-center">
						<button  type="button"
							class="btn btn-success btn-sm" data-bs-toggle="modal"
							data-bs-target="#deliverShipmentDialog"
							th:data-bs-shipmentId="${shipment.id}"
							th:data-bs-trackingId="${shipment.trackingNumber}">
							<i class="bi bi-truck-front-fill"></i>
						</button>
					</td>
				</tr>
				<tr th:remove="all">
					<td>2</td>
					<td>00000000002</td>
					<td>24/02/2024</td>
					<td>Genís Esteve i Prats</td>
					<td>1</td>
					<td>Laia Vives i Marsans</td>
					<td>PARTICULAR</td>
					<td>nota</td>
					<td>Usuario assignar</td>
					<td class="text-center">
						<button type="button" class="btn btn-warning btn-sm">
							<i class="bi bi-person-dash"></i>
						</button>
					</td>
				</tr>
				<tr th:remove="all">
					<td>3</td>
					<td>00000000003</td>
					<td>26/02/2024</td>
					<td>Esteve Genís i Prats</td>
					<td>3</td>
					<td>Laia Vives i Marsans</td>
					<td>PARTICULAR</td>
					<td>nota</td>
					<td>Usuario assignar</td>
					<td class="text-center">
						<button type="button" class="btn btn-warning btn-sm">
							<i class="bi bi-person-dash"></i>
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>